body {
   font-family: Arial, sans-serif;
   /* margin: 0; */
   /* padding: 0; */
}

header {
   background-color: #333;
   color: rgb(241, 232, 232);
   padding: 10px;
   text-align: center;
}

nav ul {
   list-style: none;
   padding: 0;
}url(http://127.0.0.1:3000/abc.html)

nav ul li {
   display: inline;
   margin: 0 10px;
}
nav ul li a {
   color: rgb(235, 228, 228);
   text-decoration: none;
}

.product-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
}

.product {
   border: 1px solid #e7dddd;
   border-radius: 5px;
   margin: 10px;
   padding: 10px;
   width: 200px;
   text-align: center;
}

.product img {
   width: 100%;
   height: auto;
}

button {
   background-color: #007BFF;
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin-top: 10px;
   cursor: pointer;
}

button:hover {
   background-color: #0056b3;
   color: #191a19;
   font-weight: bolder;
}
ul:active{
   font-weight: bold;
   color:green;
}

footer {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px;
   position: fixed;
   width: 100%;
   bottom: 0;
   
}
h2:hover{
text-decoration: overline;
background-color: rgb(228, 236, 236);
}
a:hover{ 
   background-color: rgb(28, 132, 217);
   color: #333;
   font-weight: bolder;
}
h1:hover{
   text-decoration:underline;
   background-color: #e7dddd;
   color: #333;
   font-weight: bold;
}
P:hover{
   text-decoration:underline;
   color: #ccd6cc;
   background-color: #5897d7;
   font-weight: bolder;
}
.image:hover{
   border-radius: 30%;
   
}